Flask==3.0.0
flask-socketio==5.3.5
flask-login==0.6.3
python-socketio==5.10.0
grpcio==1.60.0
grpcio-tools==1.60.0
protobuf==4.25.1
bcrypt==4.1.2
eventlet==0.33.3
prometheus-client==0.19.0
pymongo==4.6.1
